@import "tailwindcss";

@layer utilities {
  @keyframes scroll-left {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll-left {
    animation: scroll-left 16s linear infinite;
  }

  
  .pause-on-hover:hover {
    animation-play-state: paused;
  }
}